{% extends "base.html" %} {% load static %} {% block cabecera %}

<link
  href="{% static 'plugins/datatables/plugins/bootstrap/dataTables.bootstrap5.min.css'%}"
  rel="stylesheet"
  type="text/css"
/>

{% endblock %} {% block titulo %}
<li class="active">{{ title1 }}</li>
{% endblock %} {% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-head">
        <header>{{ title }}</header>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-6">
            <div class="btn-group">
              <a
                href="javascript:void(0)"
                onclick="formModal('','Agregar','agregar')"
                class="btn btn-info btn-icon-split"
              >
                <span class="icon text-white-50">
                  <i class="fas fa-plus-circle"></i>
                </span>
                <span class="text">Agregar</span>
              </a>
            </div>
          </div>
        </div>
        <table
          class="table table-striped table-bordered table-hover display order-column"
          style="width: 100%"
          id="example4"
        >
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Username</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            {% for item in items %}
            <tr class="odd gradeX">
              <td>{{item.nombre}}</td>
                  <td>{{item.apellidos}}</td>
                  <td>{{item.usuario.username}}</td>
              <td>
                <a
                  class="btn btn-success btn-xs"
                  href="javascript:void(0)"
                  onclick="formModal('{{ item.id }}','Editar','editar')"
                >
                  <i class="fa fa-check"></i>
                </a>
                <button
                  class="btn btn-danger btn-xs"
                  href="javascript:;"
                  title="Eliminar"
                  onclick="eliminarajax('{{ item.id }}', '{{ dato }}', 'eliminar')"
                >
                  <i class="fa fa-trash-o"></i>
                </button>
              </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="6">No existen registros</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<div class="modal fade static" id="itemspanel">
  <div
    class="modal-dialog modal-dialog-centered modal-lg"
    role="document"
    id="wmodal"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h4><b class="paneltitle">FORMULARIO MODAL</b></h4>
      </div>
      <div class="modal-body" style="padding: 1.5%">
        <form
          class="form-horizontal form-modal"
          autocomplete="off"
          method="post"
          enctype="multipart/form-data"
          action="{{ request.path }}"
        >
          {% csrf_token %}
          <div class="row panelbody"></div>
          <div class="modal-footer" id="footermodal">
            <div style="text-align: right; float: left; width: 100%">
              <button type="submit" id="submit" class="btn btn-success">
                <i class="fa fa-check-circle"></i> Guardar
              </button>
              <button type="button" class="btn btn-danger close-modal">
                <i class="fa fa-times-circle"></i> Cancelar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block script %}
<script
  type="text/javascript"
  src="/static/js/jquery.isloading.min.js"
></script>
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'plugins/datatables/plugins/bootstrap/dataTables.bootstrap5.min.js'%}"></script>
<script type="text/javascript" src="/static/js/form.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#example4').DataTable({
        "language": {
            "decimal": "",
            "emptyTable": "No hay datos disponibles en la tabla",
            "info": "Mostrando _START_ a _END_ de _TOTAL_ entradas",
            "infoEmpty": "Mostrando 0 a 0 de 0 entradas",
            "infoFiltered": "(filtrado de _MAX_ entradas totales)",
            "infoPostFix": "",
            "thousands": ",",
            "lengthMenu": "Mostrar _MENU_ entradas",
            "loadingRecords": "Cargando...",
            "processing": "Procesando...",
            "search": "Buscar:",
            "zeroRecords": "No se encontraron registros coincidentes",
            "paginate": {
                "first": "Primero",
                "last": "Último",
                "next": "Siguiente",
                "previous": "Anterior"
            },
            "aria": {
                "sortAscending": ": activar para ordenar la columna de manera ascendente",
                "sortDescending": ": activar para ordenar la columna de manera descendente"
            }
        }
    });
});

  function formModal(id, text, action) {
    $.ajax({
      type: "GET",
      url: `{{ request.path }}`,
      data: {
        action: action,
        id: id,
      },
      success: function (data) {
        if (data.result === true) {
          $.unblockUI();
          $(".panelbody").html(data.data);
          $("#itemspanel .paneltitle").html(text);
          $("#itemspanel")
            .modal({ backdrop: "static", width: "900px" })
            .modal("show");
        } else {
          $.unblockUI();
          alertaDanger(data.message);
        }
      },
      error: function () {
        $.unblockUI();
        alertaDanger("Error de conexión.");
      },
      dataType: "json",
    });
  }
  $(document).on("click", ".close-modal", function () {
    $(this).parents(".modal").modal("hide");
  });
</script>
{% endblock %}
