<!DOCTYPE html>
<html lang="en">
{% load static %}
 <head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<title>Smart</title>
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css" />
	<!-- icons -->
	<link href="{% static 'fonts/simple-line-icons/simple-line-icons.min.css'%}" rel="stylesheet" type="text/css" />
	<link href="{% static 'fonts/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet" type="text/css" />
	<link href="{% static 'fonts/font-awesome/v6/css/all.css'%}" rel="stylesheet" type="text/css" />
	<link href="{% static 'fonts/material-design-icons/material-icon.css'%}" rel="stylesheet" type="text/css" />
	<!--bootstrap -->
	<link href="{% static 'plugins/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css" />
	<link href="{% static 'plugins/summernote/summernote.css" rel="stylesheet'%}">
	<!-- Material Design Lite CSS -->
	<link rel="stylesheet" href="{% static 'plugins/material/material.min.css'%}">
	<link rel="stylesheet" href="{% static 'css/material_style.css'%}">
	<!-- inbox style -->
	<link href="{% static 'css/pages/inbox.min.css" rel="stylesheet'%}" type="text/css" />
	<!-- Theme Styles -->
	<link href="{% static 'css/theme/light/theme_style.css'%}" rel="stylesheet" id="rt_style_components" type="text/css" />
	<link href="{% static 'css/plugins.min.css'%}" rel="stylesheet" type="text/css" />
	<link href="{% static 'css/theme/light/style.css'%}" rel="stylesheet" type="text/css" />
	<link href="{% static 'css/responsive.css'%}" rel="stylesheet" type="text/css" />
	<link href="{% static 'css/theme/light/theme-color.css'%}" rel="stylesheet" type="text/css" />
	<!-- favicon -->
	<link rel="shortcut icon" href="https://www.einfosoft.com/templates/admin/smart/source/assets/img/favicon.ico" />
     {% block cabecera %}
    {% endblock %}
</head>
<!-- END HEAD -->

<body
	class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-white white-sidebar-color logo-indigo">
	<div class="page-wrapper">
		<!-- start header -->
		<div class="page-header navbar navbar-fixed-top">
			<div class="page-header-inner ">
				<!-- logo start -->
				<div class="page-logo">
					<a href="/">
						<span class="logo-icon material-icons fa-rotate-45">school</span>
						<span class="logo-default">Smart</span> </a>
				</div>
				<!-- logo end -->
				<ul class="nav navbar-nav navbar-left in">
					<li><a href="#" class="menu-toggler sidebar-toggler"><i data-feather="menu"></i></a></li>
				</ul>
				<!-- start mobile menu -->
				<a class="menu-toggler responsive-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
					<span></span>
				</a>
				<!-- end mobile menu -->
				<!-- start header menu -->
				<div class="top-menu">
					<ul class="nav navbar-nav pull-right">
						<li class="dropdown dropdown-user">
							<a class="dropdown-toggle" data-bs-toggle="dropdown" data-hover="dropdown"
								data-close-others="true">
								<img alt="" class="img-circle " src="{% static 'img/dp.jpg'%}" />
								<span class="username username-hide-on-mobile">  {{ request.session.usuario.username }}
							</a>
							<ul class="dropdown-menu dropdown-menu-default">
								<li>
									<a href="/perfil">
										<i class="icon-user"></i> Perfil </a>
								</li>
								<li>
									<a href="/ajustes">
										<i class="icon-settings"></i> Settings
									</a>
								</li>
								<li>
									<a href="/logout">
										<i class="icon-logout"></i> Log Out </a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>


		<div class="page-container">
			<!-- start sidebar menu -->
			<div class="sidebar-container">
				<div class="sidemenu-container navbar-collapse collapse fixed-menu">
					<div id="remove-scroll" class="left-sidemenu">
						<ul class="sidemenu  page-header-fixed slimscroll-style" data-keep-expanded="false"
							data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
							<li class="sidebar-toggler-wrapper hide">
								<div class="sidebar-toggler">
									<span></span>
								</div>
							</li>
							<li class="sidebar-user-panel">
								<div class="sidebar-user">
									<div class="sidebar-user-picture">
										<img alt="image" src="{% static 'img/dp.jpg'%}">
									</div>
									<div class="sidebar-user-details">
										<div class="user-name">{% if request.session.usuario %}
       {{ request.session.usuario.username }}
    {% else %}
        <p>No hay usuario autenticado en la sesión.</p>
    {% endif %}</div>
										<div class="user-role"> {{ request.session.usuario.tipo }}</div>
									</div>
								</div>
							</li>
                             {% if request.session.usuario.tipo == 'Administrador' %}
                            <li class="nav-item">
                                <a href="#" class="nav-link nav-toggle"> <i data-feather="settings"></i>
									<span class="title">Administrador</span> <span class="arrow"></span>
								</a>
								<ul class="sub-menu">
                                    <li class="nav-item">
										<a href="/unidadeducativa" class="nav-link "> <span class="title">Unidades Educativas</span>
										</a>
									</li>
                                    <li class="nav-item">
										<a href="/padre" class="nav-link "> <span class="title">Padres</span>
										</a>
									</li>
                                     <li class="nav-item">
										<a href="/profesor" class="nav-link "> <span class="title">Docente</span>
										</a>
									</li>
                                    <li class="nav-item">
										<a href="/alumno" class="nav-link "> <span class="title">Alumnos</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="/curso" class="nav-link "> <span class="title">Curso</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="/materia" class="nav-link "> <span class="title">Materia</span>
										</a>
									</li>
                                    <li class="nav-item">
										<a href="/matricula" class="nav-link "> <span class="title">Matricula</span>
										</a>
									</li>
                                    <li class="nav-item">
										<a href="/nota" class="nav-link "> <span class="title">Notas</span>
										</a>
									</li>
								</ul>
							</li>
                             {% endif %}
                        {% if  request.session.usuario.tipo == 'Profesor' or request.session.usuario.tipo == 'Administrador' %}
                            <li class="nav-item">
                                    <a href="#" class="nav-link nav-toggle"> <i data-feather="book"></i>
                                        <span class="title">Cursos</span> <span class="arrow"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="nav-item">
                                            <a href="/cursos" class="nav-link "> <span class="title">All
                                                    Curso</span>
                                            </a>
                                        </li>

                                    </ul>
                                </li>
                        {% endif %}
                        {% if  request.session.usuario.tipo == 'Alumno'  %}
                            <li class="nav-item">
                                    <a href="#" class="nav-link nav-toggle"> <i data-feather="briefcase"></i>
                                        <span class="title">Materias</span> <span class="arrow"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="nav-item">
                                            <a href="/materias" class="nav-link "> <span class="title">
                                                    Mis Materias</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                         {% endif %}
                        <li class="nav-item">
                                    <a href="/perfil" class="nav-link nav-toggle"> <i data-feather="user"></i>
                                        <span class="title">Perfil</span> <span class="arrow"></span>
                                    </a>
                                </li>
                        <li class="nav-item">
                                    <a href="/ajustes" class="nav-link nav-toggle"> <i data-feather="settings"></i>
                                        <span class="title">Ajustes</span> <span class="arrow"></span>
                                    </a>
                                </li>
						</ul>
					</div>
				</div>
			</div>
			<!-- end sidebar menu -->
			<!-- start page content -->
			<div class="page-content-wrapper">
				<div class="page-content">
					<div class="page-bar">
						<div class="page-title-breadcrumb">
							<ol class="breadcrumb page-breadcrumb pull-right">
								<li><i class="fa fa-home"></i>&nbsp;<a class="parent-item"
										href="/">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
								</li>
                                {% block titulo %}
                                {% endblock %}
							</ol>
						</div>
					</div>
                    {% block content %}

                     {% endblock %}

				</div>
			</div>
		</div>
		<!-- end page container -->
		<!-- start footer -->
		<div class="page-footer">

			<div class="page-footer-inner"> Chatbot 2024
			</div>
			<div class="scroll-to-top">
				<i class="icon-arrow-up"></i>
			</div>
              {% include "chatbot.html" %}

		</div>
		<!-- end footer -->
	</div>
	<!-- start js include path -->
	<script src="{% static 'plugins/jquery/jquery.min.js'%}"></script>
	<script src="{% static 'plugins/popper/popper.js'%}"></script>
	<script src="{% static 'plugins/jquery-blockui/jquery.blockui.min.js'%}"></script>
	<script src="{% static 'plugins/jquery-slimscroll/jquery.slimscroll.js'%}"></script>
	<script src="{% static 'plugins/feather/feather.min.js'%}"></script>
	<!-- bootstrap -->
	<script src="{% static 'plugins/bootstrap/js/bootstrap.min.js'%}"></script>
	<script src="{% static 'plugins/bootstrap-switch/js/bootstrap-switch.min.js'%}"></script>
	<script src="{% static 'plugins/sparkline/jquery.sparkline.js'%}"></script>
	<script src="{% static 'js/pages/sparkline/sparkline-data.js'%}"></script>
	<!-- Common js-->
	<script src="{% static 'js/app.js'%}"></script>
	<script src="{% static 'js/layout.js'%}"></script>
	<script src="{% static 'js/theme-color.js'%}"></script>
	<!-- material -->
	<script src="{% static 'plugins/material/material.min.js'%}"></script>

	<!-- summernote -->
	<script src="{% static 'plugins/summernote/summernote.js'%}"></script>
	<script src="{% static 'js/pages/summernote/summernote-data.js'%}"></script>
    <link href="{% static 'plugins/sweet-alert/sweetalert2.min.css'%}" rel="stylesheet"/>
    <script src="{% static 'plugins/sweet-alert/sweetalert2.min.js'%}"></script>
    <script src="{% static 'funciones.js'%}"></script>
<script>
     function eliminarajax(pk, nombre, accion, url = '{{ request.path }}', titulo = 'Estás por eliminar este registro:') {
             Swal.fire({
                html: `<b>${titulo}</b> ${nombre}`,
                text: "Esta acción es irreversible",
                icon: 'info',
                showCancelButton: true,
                allowOutsideClick: false,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si, deseo hacerlo',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.value) {
                    //bloquearpantalla();
                    $.ajax({
                        type: 'POST',
                        url: '{{ reques.path }}',
                        async: false,
                        data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                            action: accion,
                            id: pk,
                        },
                        dataType: "json",
                        beforeSend: function () {
                            //bloquearpantalla();
                        }
                    }).done(function (data) {
                        $.unblockUI;
                        if (data.error === false) {
                            location.reload();
                        } else {
                            alertaSuccess(data.message)
                            location.reload();
                        }
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        setTimeout($.unblockUI, 1);
                        alertaDanger('Error en el servidor', 'Advertencia!', 10000);
                    }).always(function () {
                    });
                } else {
                }
            })
        }
</script>
    {% block script %}
{% endblock %}
</body>
 </html>