{% extends "base.html" %} {% load static %} {% block cabecera %}

<link
  href="{% static 'plugins/datatables/plugins/bootstrap/dataTables.bootstrap5.min.css'%}"
  rel="stylesheet"
  type="text/css"
/>

{% endblock %} {% block titulo %}
<li class="active">{{ title1 }}</li>
{% endblock %} {% block content %}
	<div class="row">
						<div class="card-box">
							<div class="card-head">
								<header>Mis Cursos</header>
							</div>
							<div class="card-body ">
								<!-- start course list -->
								<div class="row">
                                    {% for cur in cursos %}
									<div class="col-lg-3 col-md-6 col-12 col-sm-6">
										<div class="blogThumb">
											<div class="thumb-center"></div>
											<div class="course-box">
												<h4>{{ cur.nombre}}</h4>
												<p><span><i class="ti-user"></i> Professor: {{ cur.profesor}}</span></p>
												<a href="/cursos?action=materia&id={{ cur.id}}"
													class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 btn-info">Curso</a>
											</div>
										</div>
									</div>
                                    {% endfor %}
								</div>
								<!-- End course list -->
							</div>
						</div>
					</div>
{% endblock %} {% block script %}

{% endblock %}