{% extends "base.html" %}

{% load static %}

{% block cabecera %}

{% endblock %}

{% block titulo %}
<li class="active">{{ title1 }}</li>
{% endblock %}

{% block content %}
    <div class="row">
						<div class="col-md-6 col-sm-6">
							<div class="card card-box">
								<div class="card-head">
									<header>Datos</header>
								</div>
								<div class="card-body " id="bar-parent">
                                    <form method="POST" class="ajax-form">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value="editardatos">
                                        <input type="hidden" name="id" value="{{ id }}">
                                        {{ form.as_p }}
                                        <button type="submit" class="btn btn-success">guardar</button>
                                    </form>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="card card-box">
								<div class="card-head">
									<header>Contraseña</header>
								</div>
								<div class="card-body " id="bar-parent1">
									 <form method="POST" class="ajax-form">
                                        {% csrf_token %}
                                        <input type="hidden" name="action" value="editarcontraseña">
                                        <input type="hidden" name="id" value="{{ id }}">
                                        {{ password_form.as_p }}
                                        <button type="submit" class="btn btn-success">Cambiar Contraseña</button>
                                    </form>
								</div>
							</div>
						</div>
					</div>
    </div>



{% endblock %}

{% block script %}

    <script>
    $(document).ready(function() {
        $('.ajax-form').submit(function(event) {
            event.preventDefault();
            var $form = $(this); // Current form
            var $errorContainer = $form.find('.ajax-error'); // Container for error messages

            if ($errorContainer.length === 0) {
                // If no error container exists, create one
                $errorContainer = $('<div class="ajax-error alert alert-danger" style="display: none;"></div>');
                $form.prepend($errorContainer);
            }

            $.ajax({
                type: "POST",
                url: "{% url 'ajustes' %}",
                data: $form.serialize(),
                success: function(response) {
                    if (response.result === true) {
                        alertaSuccess(response.mensaje);
                    } else {
                        $.unblockUI();
                        alertaDanger(response.mensaje);
                    }
                },
                error: function(xhr, status, error) {
                   $.unblockUI();
                   alertaDanger("Error de conexión.");
                }
            });
        });
    });
</script>

{% endblock %}


