 {% extends "base.html" %}

{% load static %}

{% block cabecera %}

{% endblock %}

{% block titulo %}
<li class="active">{{ title1 }}</li>
{% endblock %}

{% block content %}
    <div class="row">
						<div class="col-md-12">
							<!-- BEGIN PROFILE SIDEBAR -->
							<div class="profile-sidebar">
								<div class="card">
									<div class="card-body no-padding height-9">
										<div class="profile-usertitle">
											<div class="profile-usertitle-name">{{ persona.nombre }} {{ persona.apellidos }}</div>
											<div class="profile-usertitle-job"> {{ persona.tipo }} </div>
										</div>
										<ul class="list-group list-group-unbordered">
                                            <li class="list-group-item">
												<b>Usuario: </b> <a class="pull-right">{{ persona.usuario }}</a>
											</li>
											<li class="list-group-item">
												<b>Cedula: </b> <a class="pull-right">{{ persona.cedula }}</a>
											</li>
											<li class="list-group-item">
												<b>Telefono: </b> <a class="pull-right">{{ persona.telefono }}</a>
											</li>
											<li class="list-group-item">
												<b>Email: </b> <a class="pull-right">{{ persona.email }}</a>
											</li>
                                            <li class="list-group-item">
												<b>Hijos: </b> <a class="pull-right">{{ hijosc }}</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<!-- END BEGIN PROFILE SIDEBAR -->
							<!-- BEGIN PROFILE CONTENT -->
							<div class="profile-content">
								<div class="row">
									<div class="col-md-12">
										<div class="card">
											<div class="card-head">
												<header>Datos</header>
											</div>
											<div class="card-body no-padding height-9">
												<div class="container-fluid">
													<div class="row">
                                                    {% if usuario.tipo == 'Padre' %}
                                                        {% for hijo in hijos %}
                                                            <div class="col-md-5">
                                                                <div class="prog-avatar">
                                                                    <img src="../assets/img/user/user1.jpg" alt="" width="40" height="40">
                                                                </div>
                                                                <div class="details">
                                                                    <div class="title">
                                                                        <a href="#">{{ hijo.nombre }} </a>{{ hijo.apellidos }}
                                                                    </div>
                                                                    <div>
                                                                        <span class="clsAvailable">Available</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                    {% if usuario.tipo == 'Alumno' %}
                                                        {% for curso in cursos %}
                                                            <div class="col-lg-3 col-md-6 col-12 col-sm-6">
                                                                <div class="blogThumb">
                                                                    <div class="course-box">
                                                                        <h4>{{ curso.curso.nombre}}</h4>
                                                                        <b>Profesor</b>:
                                                                        <p><i class="ti-user"></i>{{curso.curso.profesor.nombre}} {{curso.curso.profesor.apellidos}}</p>
                                                                         <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 btn-info" data-upgraded=",MaterialButton,MaterialRipple">Read
                                                                            More<span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                    {% if usuario.tipo == 'Administrador' %}
                                                        {% for tipo in tipos %}

                                                            <div class="col-lg-5 col-md-6 col-sm-6 col-12">
                                                                    <div class="analysis-box m-b-0 bg-purple">
                                                                        <h3 class="text-white box-title">{{ tipo.tipo }}<span class="pull-right"><i class="fa fa-caret-up"></i> {{ tipo.total }}</span></h3>
                                                                     </div>
                                                                </div>
                                                        {% endfor %}

                                                    {% endif %}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>


{% endblock %}

{% block script %}

{% endblock %}
